<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
</head>
<body>
    <%- include('./partials/nav') %>
    <h1>Full Menu</h1>

    <% const resItem = [] %>
    <% itemSplice.forEach((item)=> { %>
        <% if(item.category === req.params.category) %>
        <%= res.render(itemSplice) %>
        


<%}%>
<%)%>
    
</body>

</html>

